html {
	height: 100vh;
}

body {
	background-image: url("./owen-lystrup-_Ix2X5OWe7I-unsplash.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.App {
	text-align: center;
}

.Display {
	color: white;
	border-radius: 10px;
	width: 30%;
	margin: 50px auto 0px auto;
	padding: 0px 30px 30px 30px;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.966), 0 6px 20px 0 rgb(255, 255, 255);
}

.Counter {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

.CounterPlate {
	border-radius: 5px;
	width: 100px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 30px;
}

.Number {
	font-size: 50px;
	border: 2px solid white;
}

.Button {
	width: 80px;
	margin: 0px 10px 0px 10px;
	font-size: 18px;
	border-radius: 5px;
	background-color: green;
	color: white;
	border: none;
	outline: none;
}

.Button:hover {
	box-shadow: 0 1px 2px 0 rgb(255, 230, 4), 0 1.5px 5px 0 rgba(255, 230, 4, 0.966);
	transform: scale(1.1);
}
